<nav class="navbar">
    <div class="container">
        <div class="nav-brand">
            <a href="{{ '/' | relative_url }}">Portfolio</a>
        </div>
        <ul class="nav-menu">
            <li><a href="{{ '/' | relative_url }}#home" class="nav-link">Home</a></li>
            <li><a href="{{ '/' | relative_url }}#about" class="nav-link">About</a></li>
            <li><a href="{{ '/' | relative_url }}#projects" class="nav-link">Projects</a></li>
            <li><a href="{{ '/blog' | relative_url }}" class="nav-link">Blog</a></li>
            <li><a href="{{ '/' | relative_url }}#contact" class="nav-link">Contact</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>

